.Button {
    background-color: #D99B9B;
    color: white;
    cursor: pointer;
    width: 700px;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    /* 버튼 안에 있는 텍스트를 화면이 줄어들더라도 줄바꿈 되지 않도록 */
    white-space: nowrap;
}

.Button_HEADERLOGIN {
    background-color: #D99B9B;
    color: #FFFFFF;
    border: none;
    width: 80px;
    height: 40px;
    padding: 8px 16px;
    margin-left: 5px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Button_HEADERLOGIN:hover {
    background-color: #f2f2f2;
}

.Button_SMALLER {
    background-color: #D99B9B;
    color: white;
    cursor: pointer;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    /* 버튼 안에 있는 텍스트를 화면이 줄어들더라도 줄바꿈 되지 않도록 */
    white-space: nowrap;
}