.myProject_allWrapper{
  width: 950px;
  height:100px;
  border: 1px solid #B0B0B0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.myProject_title{
  font-weight: 600;
  margin-left: 40px;
}

.myProject_buttonWrapper{
  display: flex;
  gap: 10px;
  margin-right: 40px;
}

.myProject_button{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #F7CFB6;
  border: none;
}

.myProject_button:hover{
  background-color: #EEC2A7;
  cursor: pointer;
}